{% extends 'base.html.twig' %}

{% block title %}Edit Address{% endblock %}

{% block body %}
<div class="user-edit-container">
    <div class="user-form-card">
        <h1 class="user-edit-title">
            {% if form.city.vars.value is empty %}
                <i class="fas fa-map-marker-alt"></i> Ajouter une adresse
            {% else %}
                <i class="fas fa-edit"></i> Modifier mon adresse
            {% endif %}
        </h1>

        {% if form.city.vars.value is empty %}
            {{ include('user/_form.html.twig', {'button_label': 'Ajouter'}) }}
        {% else %}
            {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
        {% endif %}

        <div class="text-center">
            <a href="{{ path('app_user', {'id': app.user.id}) }}" class="user-back-link">
                <i class="fas fa-arrow-left"></i> Retour sur mon compte
            </a>
        </div>
    </div>
</div>
{% endblock %}
